<p style="color: green"><%= notice %></p>

<h1>Islands</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Arc</th>
    </tr>
  </thead>

  <tbody>
<div id="islands">
  <% @islands.each do |island| %>
    <p>
    <tr>
      <td><%=island.name %> </td>
      <td><%=island.arc %> </td>
     
    </p>
<td><%= link_to 'Delete', island, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>

  <% end %>

  </div>
  </tbody>
</table>
<%= link_to "New island", new_island_path, class:"btn btn-dark"%>
