<p style="color: green"><%= notice %></p>

<%= render @island %>


<div>
  <%= link_to "Edit this island", edit_island_path(@island) %> |
  <%= link_to "Back to islands", islands_path %>

  <%= button_to "Destroy this island", @island, method: :delete %>
</div>
