<p style="color: green"><%= notice %></p>

<h1>Pirates</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Tripulacao</th>
      <th>Recompensa</th>
    </tr>
  </thead>

  <tbody>
<div id="pirates">
  <% @pirates.each do |pirate| %>
    <p>
    <tr>
      <td><%=pirate.nome %> </td>
      <td><%=pirate.tripulacao %> </td>
      <td><%=pirate.recompensa  %> </td>
    </p>

<td><%= link_to 'Delete', pirate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
  <% end %>

  </div>
  </tbody>
</table>

<%= link_to "New pirate", new_pirate_path, class: "btn btn-dark" %>



